*.class
*/out

# Package Files #
*.jar
*.war
*.ear

*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
**/.idea/workspace.xml

# Other binaries and packages
*.so
*.exe
*.7z
*.dmg
*.tar
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Backup files
*.bak
*.k


.idea/uiDesigner.xml
